- content_for :head do
  %title Signatures de la charte informatique > Services informatiques
  
- content_for :feature do
  %h2 Signatures informatique
  %p Retrouvez ici toutes les personnes ayant signé la charte informatique.
  
- content_for :subcol do
  none

%h3.content-title.waiting-title Signataires
%ul#signatures
  %li
    = image_tag "loader.gif" 
    &nbsp;Chargement des données...