- content_for :head do
  %title Enregistrements > Services informatiques
  
- content_for :feature do
  %h2 Enregistrements
  %p Retrouvez ici toutes les demandes d'enregistrement d'ordinateurs.
  %p 
    Cliquez sur le lien 
    %i switch 
    pour voir les enregistrements validés.
  
- content_for :subcol do
  none

.fr
  = link_to "switch", "#", :id => "switch"

%h3.content-title.waiting-title Enregistrements en attente
%ul#registrations
  %li
    = image_tag "loader.gif" 
    &nbsp;Chargement des données...
  