@import "compass/reset/utilities";
@import "compass/css3/border-radius";

$default-border-radius: 1em;
$headings-color: #333333;
$grey-background: #222222;
$red-background: #c52f24;
$red-background-darker: #980905;
$blue-background: #D5E9F6;
$clear-background: #FFFFFF;
$link-color: #FFFFFF;
$link-color-col: #980905;
$link-color-dark: #EE3F3F;
$font-color-dark: #999999;
$font-color-clear: #333333;

@mixin notifications {
  border: medium none;
  margin-left: 0;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 1.25em 1.25em 1.25em 48px;
}

@mixin cols {
  dt {
    margin-bottom: 0;
    padding: 0.125em 0 0.25em;
    font-size: 1.2857em;
    text-transform: capitalize;
  }
  
  dd {
    border: medium none;
    margin-left: 0;
    margin-top: 0.25em;
    padding: 1.25em 1.25em 1.25em 48px;
  }
  
  a {
    color: $link-color-col;
  }
}

@include global-reset;

body {
  color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 87.5%;
  line-height: 1.5em;
}

h2 {
  font-size: 2.1428em;
  font-weight: bold;
  line-height: 1em;
  margin: 0.7em 0 0.2333em;
}

h3 {
  font-size: 1.7142em;
  font-weight: bold;
  line-height: 1.286em;
  margin: 0.875em 0 0.2916em;
  text-transform: capitalize;
}

label {
  display: block;
  font-weight: bold;
}

input[type=text] {
  width: 100%;
  height: 2em;
  padding: 3px;
  border: 1px solid #5a5b5e;
  @include border-radius(3px);
}

input[type=button] {
  background: #50A75C;
  border: 1px solid #50A75C;
  color: white;
  display: block;
  margin: 3px auto;
  width: 50%;
  height: 30px;
  padding: 3px;
  font-weight: bold;
  @include border-radius(4px);
  
  &:hover {
    background: #333333;
    border-color: #333333;
    cursor: pointer;
  }
}

p {
  margin: 0 0 1.5em;
}

dl {
  margin: 0 0 1.5em;
  
  dd {
    margin-bottom: 1em;
  }
}

ol {
  list-style-type: decimal;
}

ul, ol {
  margin: 0 1.5em 1.5em;
}

strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

.wrapper {
  width: 69em;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.hide {
  display: none;
}

.warning {
  background: url("../images/tab_red.gif") no-repeat scroll left top #F9D9D8;
  @include notifications;
}

.work-in-progress {
  background: url("../images/tab_note.gif") no-repeat scroll left top #FFF9D8;
  @include notifications;
}

.info {
  background: url("../images/tab_info.gif") no-repeat scroll left top #D5E9F6;
  @include notifications;
}

.code_container {
  background: url("../images/tab_grey.gif") no-repeat scroll left top #EEEEEE;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: bold;
  @include notifications;
}

#nav {
  padding: 1em 0;
  background: $grey-background;
  color: $font-color-dark;
  
  a {
    color: $link-color-dark;
  }
  
  strong a {
    color: $link-color;
  }
}

#menu {
  margin: 0;
  padding: 0;
}

#header {
  padding: 1.5em 0;
  position: relative;
  background: $red-background;
  
  .wrapper h1 {
    width: 492px;
    height: 77px;
    float: left;
    background: url("../images/logo.png") no-repeat;
    text-indent: -10000px;
    
    a {
      display: block;
      height: 77px;
      text-decoration: none;
    }
  }
  
  #menu {
    float: right;
    padding-top: 1.5em;
    font-size: 1.2857em;
    
    li {
      margin: 0 0 0 0.5em;
      display: inline;
      
      a {
        color: $link-color;
        text-decoration: none;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
    
    .expandable {
      position: relative;
      padding: 0.5em 1.5em;
      @include border-radius;
      background: $red-background-darker;
    
      a {
        position: relative;
        padding-bottom: 0.125em;
        padding-right: 1em;
        background: url("../images/nav_arrow.gif") no-repeat top right;
        z-index: 15;
        
        &:hover {
          background-position: right -81px;
        }
      }
    }
    
    #tuts {
      display: block;
      background: none repeat scroll 0 0 #980905;
      @include border-radius(1em);
      box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.25);
      color: #F1938C;
      padding: 2em 2em 1.5em;
      position: absolute;
      right: 0;
      top: 0;
      width: 27em;
      z-index: 10;
      
      hr {
        background: none repeat scroll 0 0 #F1938C;
        border: medium none;
        color: #F1938C;
        display: block;
        height: 1px;
      }
      
      dt {
        font-size: 0.722em;
        font-weight: normal;
        margin: 0.5em 0 0;
        padding: 0;
        text-transform: capitalize;
      }
      
      dd {
        font-size: 0.722em;
        font-weight: normal;
        margin: 0;
        padding: 0;
        text-transform: capitalize;
        
        a {
          color: $link-color;
          text-decoration: none;
          background: none;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
      
      #left, #right {
        float: left;
        margin: 0;
        padding: 0;
        width: 50%;
      }
    }
  }
}

#feature {
  padding: 0.5em 0 1.5em;
  background: $blue-background;
  color: $font-color-clear;
  
  .wrapper {
    width: 46em;
    padding-right: 23em;
    position: relative;
  }
  
  p {
    font-size: 1.2857em;
    margin-bottom: 0.75em;
  }
  
  ul {
    margin-left: 0;
    
    li {
      background: url("../images/check_bullet.gif") no-repeat left 0.5em;
      font-size: 1.1428em;
      font-weight: bold;
      list-style: none outside none;
      padding: 0.5em 1.75em;
    }
  }
  
  #sub-col {
    background: $clear-background;
    border: 1px dashed $blue-background;
    font-size: 0.9285em;
    line-height: 1.3846em;
    padding: 1em 1.5em 1em 1.25em;
    position: absolute;
    right: 0;
    top: 0;
    width: 17em;
    @include cols;
    
    h3.chapters {
      margin-top: 0.25em;
    }
    
    .chapters {
      color: $red-background-darker;
      
      li {
        margin-bottom: 0.75em;
      }
    }
  }
}

#container {
  color: $font-color-clear;
  
  #main-col {
    margin-left: 2em;
    margin-bottom: 2em;
    width: 45em;
    @include cols;
    
    dd {
      border-bottom: 1px solid #CCCCCC;
      margin-bottom: 1em;
      margin-left: 0;
      padding: 0.25em 0 1em;
    }
    .work-in-progress, .warning, .note, .code_container {
      border: medium none;
      margin-left: 0;
      margin-top: 0.25em;
      padding: 1.25em 1em 1.25em 48px;
    }
  }
}

#footer {
  padding: 2em 0;
  background: $grey-background;
  color: $font-color-dark;
  
  a {
    color: $link-color-dark;
  }
  
  #footer-left {
    float: left;
  }
  
  #footer-right {
    float: left;
  }
}