#body {
  width: 100%;
  font-size: 5em;
}

#nav .wrapper #design-box {
  display: none;
}

#header .wrapper #logo {
  display: none;
}

#header #menu {
  float: none;
  padding-top: 0;
}

#left, #right {
  display: block;
  float: none;
}

#feature .wrapper #sub-col {
  display: none;
}

#nav .wrapper, #header .wrapper, #feature .wrapper, #mobile-tuts .wrapper, #container .wrapper, #footer .wrapper {
  width: 95%;
  margin: 2px auto;
  padding: 0;
}

#container .wrapper #main-col {
  width: 95%;
  margin: 5px auto; 
}

#container .wrapper #main-col img {
  width: 95%;
  margin: 2px auto;
}

#main-col #loader img {
  width: 16px;
}