- content_for :head do
  %title Accéder à la messagerie > Tutoriels > Services informatiques
  
- content_for :feature do
  %h2 Accéder à la Messagerie
  %p Découvrez comment accéder à la messagerie de l'école.
  %ul
    %li Signez la charte informatique
    %li Enregistrez votre ordinateur
    %li Entrez la clé WIFI
  
- content_for :subcol do
  %h3.chapter 
    = image_tag "chapters.gif", :alt => '#'
    Chapitres
  %ol.chapters