- content_for :head do
  %title Note sur la VOIP > Tutoriels > Services informatiques
  
- content_for :feature do
  %h2 Note sur la VOIP
  %p Quelques informations à retenir sur la VOIP.
  %ul
  
- content_for :subcol do
  %h3.chapter 
    = image_tag "chapters.gif", :alt => '#'
    Chapitres
  %ol.chapters
   
%br
 
.work-in-progress Ce tutoriel n'a pas encore été rédigé.