- content_for :head do
  %title Services informatiques
  
- content_for :feature do
  %h2 Site des services informatiques  
  
- content_for :subcol do
  %dl
    %dd.warning Certains liens pourraient être rompus et certaines fonctionnalités n'ont pas encore été implémentées.
  

%h3 Where do I start?